In [1]:
import pandas as pd

In [2]:

df_standard=pd.read_csv('TMDB_all_movies.csv')

In [3]:
df_standard.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 962942 entries, 0 to 962941
Data columns (total 27 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       962942 non-null  int64
 1   title                    962934 non-null  object
 2   vote_average             962940 non-null  float64
 3   vote_count               962940 non-null  float64
 4   status                   962940 non-null  object
 5   release_date             867949 non-null  object
 6   revenue                  962940 non-null  float64
 7   runtime                  962940 non-null  float64
 8   budget                   962940 non-null  float64
 9   imdb_id                  572904 non-null  object
 10  original_language        962940 non-null  object
 11  original_title           962933 non-null  object
 12  overview                 801423 non-null  object
 13  popularity               962940 non-null  float64
 14  tagline                  143100 non-null  object
 15  genres                   686839 non-null  object
 16  production_companies     446095 non-null  object
 17  production_countries     589057 non-null  object
 18  spoken_languages         597154 non-null  object
 19  cast                     647734 non-null  object
 20  director                 795821 non-null  object
 21  director_of_photography  230064 non-null  object
 22  writers                  467104 non-null  object
 23  producers                305122 non-null  object
 24  music_composer           94446 non-null   object
 25  imdb_rating              418591 non-null  float64
 26  imdb_votes               418591 non-null  float64
dtypes: float64(8), int64(1), object(18)
memory usage: 198.4+ MB

In [4]:
df_standard.shape

(962942, 27)

In [5]:
df_standard.columns

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'budget', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages',
       'cast', 'director', 'director_of_photography', 'writers', 'producers',
       'music_composer', 'imdb_rating', 'imdb_votes'],
      dtype='object')

In [6]:
df_standard['writers']

0                                            Aki Kaurismäki
1                                            Aki Kaurismäki
2         Alexandre Rockwell, Quentin Tarantino, Allison...
3                             Jere Cunningham, Lewis Colick
4                           Michael Glawogger, Timo Novotny
                                ...
962937                                                  NaN
962938                                                  NaN
962939                                                  NaN
962940    Florian Gallenberger, Torsten Wenzel, Tom Kinn...
962941                     Christina Hodson, Shoji Kawamori
Name: writers, Length: 962942, dtype: object

In [7]:
df=df_standard[['imdb_id','title','genres','overview','production_companies','cast', 'director']]
df.sample(5)

,imdb_id,title,genres,overview,production_companies,cast,director
483213,NaN,Log Abstract 1986,NaN,NaN,NaN,NaN,Scott Hammen
218866,tt4074514,Death on a Rock,Drama,Death on a Rock follows a young woman coming t...,NaN,"Erin McGarry, Rachel Perrell Foskett",Scott Ballard
356560,tt6048468,Eric van Sauers: Ontroert,Comedy,TV adaptation of the seventh comedy special by...,"VARA, Theaterbureau Grünfeld",Eric van Sauers,"Doesjka van Hoogdalem, Koos Terpstra"
685926,NaN,En Primera Persona: Adal Ramones y Adrián Uribe,Documentary,NaN,Star Original Productions,"Adal Ramones, Adrián Uribe",NaN
851885,NaN,Framed,"Drama, Comedy","Charlotte, a young woman dealing with the deat...",NaN,"Felix Erikson, Mary Flannigan, Matthias Falvai...",Gabriel Sanchez

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 962942 entries, 0 to 962941
Data columns (total 7 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   imdb_id               572904 non-null  object
 1   title                 962934 non-null  object
 2   genres                686839 non-null  object
 3   overview              801423 non-null  object
 4   production_companies  446095 non-null  object
 5   cast                  647734 non-null  object
 6   director              795821 non-null  object
dtypes: object(7)
memory usage: 51.4+ MB

In [9]:
df.isnull().sum()

imdb_id                 390038
title                        8
genres                  276103
overview                161519
production_companies    516847
cast                    315208
director                167121
dtype: int64

In [10]:
df.duplicated().sum()

326

In [11]:
df.drop_duplicates()
df=df.dropna()

In [12]:
df.shape

(257199, 7)

In [13]:

df.sample(5)

,imdb_id,title,genres,overview,production_companies,cast,director
59759,tt1532413,The Invisible Frame,Documentary,In 1988 Cynthia Beatt and the young Tilda Swin...,"Auswärtiges Amt, Filmgalerie 451, Goethe Insti...",Tilda Swinton,Cynthia Beatt
312767,tt1392202,The Stranger,Drama,Taiwanese drama film.,"Grand Motion Picture Co., Ltd.","Lin Tung, Peter Yang Kwan, Chen Chen, Lee Hung",Su Yang
843724,tt13182686,Patla Tar Ghya,"Comedy, Drama","When their husbands cheat on them, Kishori and...",Heramb Creation,"Pradeep Patwardhan, Smruti Patkar, Sharvani Pi...",Amol Bhave
491938,tt0367751,France,Drama,A young woman gradually locks herself in her f...,"Compagnie Éric Rohmer (CER), L'Envol","Nathalie Moncorger, Luciano Travaglino, Franço...",Diane Baratier
138503,tt0031071,Bad Lands,Western,A sheriff and his posse set out to catch a mur...,RKO Radio Pictures,"Jack Payne, Francis McDonald, Douglas Walton, ...",Lew Landers

In [14]:
df['cast'][0]

'Esko Salminen, Esko Nikkari, Turo Pajala, Matti Pellonpää, Heikki Anttila, Hanna Jokinen, Juuso Hirvikangas, Tarja Keinänen, Reijo Marin, Kari Helaseppä, Matti Jaaranen, Erkki Pajala, Pentti Auer, Sirkka Rautiainen, Sami Lanki, Timo Harakka, Timo Toikka, Olli Varja, Tomi Salmela, Jyrki Olsonen, Mikko Remes, Heikki Salomaa, Jorma Markkula, Marja Packalén, Hannu Kivisalo, Kauko Laalo, Jaakko Talaskivi, Eino Kuusela, Pekka Wilen, Veikko Uusimäki, Susanna Haavisto, Eetu Hilkamo, Mikko Lyytikäinen, Jouko Lumme, Sakari Kuosmanen, Hannu Viholainen, Timo Markko, Markku Rantala'

In [15]:
text_columns = ['title', 'genres', 'overview', 'production_companies', 'cast', 'director']
for column in text_columns:
    df[column] = df[column].apply(lambda x:x.lower())

In [16]:
def get_top_3_names(cast_str):
    # Split the string by commas and strip any extra whitespace
    names_list = [name.strip() for name in cast_str.split(',')]
    # Return the first three names if available
    return names_list[:3] if len(names_list) > 0 else []

df['cast']=df['cast'].apply(get_top_3_names)

In [17]:
df['genres'] = df['genres'].apply(lambda x: [genre.strip() for genre in x.split(',')])
df['production_companies'] = df['production_companies'].apply(lambda x: [genre.strip() for genre in x.split(',')])
df['director'] = df['director'].apply(lambda x: [genre.strip() for genre in x.split(',')])

In [18]:
df['genres']=df['genres'].apply(lambda X:[i.replace(" ","") for i in X])
df['cast']=df['cast'].apply(lambda X:[i.replace(" ","") for i in X])
df['director']=df['director'].apply(lambda X:[i.replace(" ","") for i in X])

In [19]:
df

,imdb_id,title,genres,overview,production_companies,cast,director
0,tt0094675,ariel,"[drama, comedy, romance, crime]",after the coal mine he works at closes and his...,[villealfa filmproductions],"[eskosalminen, eskonikkari, turopajala]",[akikaurismäki]
1,tt0092149,shadows in paradise,"[comedy, drama, romance]","nikander, a rubbish collector and would-be ent...",[villealfa filmproductions],"[eskonikkari, mattipellonpää, mallahukkanen]",[akikaurismäki]
2,tt0113101,four rooms,[comedy],it's ted the bellhop's first night on the job....,"[miramax, a band apart]","[kimberlyblair, sammidavis, paulskemp]","[alexandrerockwell, quentintarantino, allisona..."
3,tt0107286,judgment night,"[action, crime, thriller]","four young friends, while taking a shortcut en...","[largo entertainment, jvc, universal pictures]","[dougwert, michaeldelorenzo, everlast]",[stephenhopkins]
6,tt0076759,star wars,"[adventure, action, sciencefiction]",princess leia is captured and held hostage by ...,"[lucasfilm ltd., 20th century fox]","[davidprowse, stevegawley, tomsylla]",[georgelucas]
...,...,...,...,...,...,...,...
962822,tt29900804,puzzle box: the glitch,"[horror, thriller]",two friends buying drugs find their world star...,"[dead woods productions, welcome villain films...","[elessadonnelly, noahfowler, cassandregirard]",[jackdignan]
962845,tt27156546,child star,[documentary],examines how some of the most well-known forme...,"[hulu originals, obb media]","[alysonstoner, demilovato, christinaricci]","[demilovato, nicolab.marsh]"
962869,tt23558084,bad influence,"[drama, thriller, romance]",a poor boy and a pampered rich girl seek to un...,"[n&l films, nadie es perfecto, the 42 film, wa...","[albertoolmo, selamortega, faridbechara]",[chloewallace]
962873,tt33043031,baida,[horror],"three film makers, going for documentary film ...",[mnm entertainment],"[rajeshmohanty, saishresth, sidharthroy]",[mayurmahapatra]
962883,tt9059238,the brush-off,[comedy],two sisters head to italy on a career saving m...,[parkhouse pictures],[giulioberruti],[michaeldamian]

In [20]:
import re

In [21]:


def remove_special_chars(text):
    cleaned_text = re.sub(r'[^a-zA-Z\s]', ' ', text)
    cleaned_text = re.sub(r'\s+', ' ', cleaned_text).strip()
    return cleaned_text

In [22]:
df['overview']=df['overview'].apply(remove_special_chars)

In [23]:
df['overview'][962698]

'ghanoujet baya ritabarsona rana baraket is a daddy spoiled girl beautiful rich irresponsible girl has to face life after her dad went bankrupt forced to find jobs but her lack of experience will put her in a awkward situation where she has to deal with getting fired from every job she gets falling in love with the guy that was responsible for her dad s bankruptcy wasn t helpful at all'

In [24]:
df['overview'] = df['overview'].apply(lambda x: [genre.strip() for genre in x.split(' ')])

In [25]:
df['overview']

0         [after, the, coal, mine, he, works, at, closes...
1         [nikander, a, rubbish, collector, and, would, ...
2         [it, s, ted, the, bellhop, s, first, night, on...
3         [four, young, friends, while, taking, a, short...
6         [princess, leia, is, captured, and, held, host...
                                ...
962822    [two, friends, buying, drugs, find, their, wor...
962845    [examines, how, some, of, the, most, well, kno...
962869    [a, poor, boy, and, a, pampered, rich, girl, s...
962873    [three, film, makers, going, for, documentary,...
962883    [two, sisters, head, to, italy, on, a, career,...
Name: overview, Length: 257199, dtype: object

In [26]:
df

,imdb_id,title,genres,overview,production_companies,cast,director
0,tt0094675,ariel,"[drama, comedy, romance, crime]","[after, the, coal, mine, he, works, at, closes...",[villealfa filmproductions],"[eskosalminen, eskonikkari, turopajala]",[akikaurismäki]
1,tt0092149,shadows in paradise,"[comedy, drama, romance]","[nikander, a, rubbish, collector, and, would, ...",[villealfa filmproductions],"[eskonikkari, mattipellonpää, mallahukkanen]",[akikaurismäki]
2,tt0113101,four rooms,[comedy],"[it, s, ted, the, bellhop, s, first, night, on...","[miramax, a band apart]","[kimberlyblair, sammidavis, paulskemp]","[alexandrerockwell, quentintarantino, allisona..."
3,tt0107286,judgment night,"[action, crime, thriller]","[four, young, friends, while, taking, a, short...","[largo entertainment, jvc, universal pictures]","[dougwert, michaeldelorenzo, everlast]",[stephenhopkins]
6,tt0076759,star wars,"[adventure, action, sciencefiction]","[princess, leia, is, captured, and, held, host...","[lucasfilm ltd., 20th century fox]","[davidprowse, stevegawley, tomsylla]",[georgelucas]
...,...,...,...,...,...,...,...
962822,tt29900804,puzzle box: the glitch,"[horror, thriller]","[two, friends, buying, drugs, find, their, wor...","[dead woods productions, welcome villain films...","[elessadonnelly, noahfowler, cassandregirard]",[jackdignan]
962845,tt27156546,child star,[documentary],"[examines, how, some, of, the, most, well, kno...","[hulu originals, obb media]","[alysonstoner, demilovato, christinaricci]","[demilovato, nicolab.marsh]"
962869,tt23558084,bad influence,"[drama, thriller, romance]","[a, poor, boy, and, a, pampered, rich, girl, s...","[n&l films, nadie es perfecto, the 42 film, wa...","[albertoolmo, selamortega, faridbechara]",[chloewallace]
962873,tt33043031,baida,[horror],"[three, film, makers, going, for, documentary,...",[mnm entertainment],"[rajeshmohanty, saishresth, sidharthroy]",[mayurmahapatra]
962883,tt9059238,the brush-off,[comedy],"[two, sisters, head, to, italy, on, a, career,...",[parkhouse pictures],[giulioberruti],[michaeldamian]

In [27]:
df['data']= df['genres']+ df['overview']+ df['production_companies']+ df['cast']+ df['director']
df

,imdb_id,title,genres,overview,production_companies,cast,director,data
0,tt0094675,ariel,"[drama, comedy, romance, crime]","[after, the, coal, mine, he, works, at, closes...",[villealfa filmproductions],"[eskosalminen, eskonikkari, turopajala]",[akikaurismäki],"[drama, comedy, romance, crime, after, the, co..."
1,tt0092149,shadows in paradise,"[comedy, drama, romance]","[nikander, a, rubbish, collector, and, would, ...",[villealfa filmproductions],"[eskonikkari, mattipellonpää, mallahukkanen]",[akikaurismäki],"[comedy, drama, romance, nikander, a, rubbish,..."
2,tt0113101,four rooms,[comedy],"[it, s, ted, the, bellhop, s, first, night, on...","[miramax, a band apart]","[kimberlyblair, sammidavis, paulskemp]","[alexandrerockwell, quentintarantino, allisona...","[comedy, it, s, ted, the, bellhop, s, first, n..."
3,tt0107286,judgment night,"[action, crime, thriller]","[four, young, friends, while, taking, a, short...","[largo entertainment, jvc, universal pictures]","[dougwert, michaeldelorenzo, everlast]",[stephenhopkins],"[action, crime, thriller, four, young, friends..."
6,tt0076759,star wars,"[adventure, action, sciencefiction]","[princess, leia, is, captured, and, held, host...","[lucasfilm ltd., 20th century fox]","[davidprowse, stevegawley, tomsylla]",[georgelucas],"[adventure, action, sciencefiction, princess, ..."
...,...,...,...,...,...,...,...,...
962822,tt29900804,puzzle box: the glitch,"[horror, thriller]","[two, friends, buying, drugs, find, their, wor...","[dead woods productions, welcome villain films...","[elessadonnelly, noahfowler, cassandregirard]",[jackdignan],"[horror, thriller, two, friends, buying, drugs..."
962845,tt27156546,child star,[documentary],"[examines, how, some, of, the, most, well, kno...","[hulu originals, obb media]","[alysonstoner, demilovato, christinaricci]","[demilovato, nicolab.marsh]","[documentary, examines, how, some, of, the, mo..."
962869,tt23558084,bad influence,"[drama, thriller, romance]","[a, poor, boy, and, a, pampered, rich, girl, s...","[n&l films, nadie es perfecto, the 42 film, wa...","[albertoolmo, selamortega, faridbechara]",[chloewallace],"[drama, thriller, romance, a, poor, boy, and, ..."
962873,tt33043031,baida,[horror],"[three, film, makers, going, for, documentary,...",[mnm entertainment],"[rajeshmohanty, saishresth, sidharthroy]",[mayurmahapatra],"[horror, three, film, makers, going, for, docu..."
962883,tt9059238,the brush-off,[comedy],"[two, sisters, head, to, italy, on, a, career,...",[parkhouse pictures],[giulioberruti],[michaeldamian],"[comedy, two, sisters, head, to, italy, on, a,..."

In [28]:
df=df[['imdb_id','title','data']]

In [29]:
df

,imdb_id,title,data
0,tt0094675,ariel,"[drama, comedy, romance, crime, after, the, co..."
1,tt0092149,shadows in paradise,"[comedy, drama, romance, nikander, a, rubbish,..."
2,tt0113101,four rooms,"[comedy, it, s, ted, the, bellhop, s, first, n..."
3,tt0107286,judgment night,"[action, crime, thriller, four, young, friends..."
6,tt0076759,star wars,"[adventure, action, sciencefiction, princess, ..."
...,...,...,...
962822,tt29900804,puzzle box: the glitch,"[horror, thriller, two, friends, buying, drugs..."
962845,tt27156546,child star,"[documentary, examines, how, some, of, the, mo..."
962869,tt23558084,bad influence,"[drama, thriller, romance, a, poor, boy, and, ..."
962873,tt33043031,baida,"[horror, three, film, makers, going, for, docu..."
962883,tt9059238,the brush-off,"[comedy, two, sisters, head, to, italy, on, a,..."

In [30]:
new_df=df[['imdb_id','title','data']]
new_df

,imdb_id,title,data
0,tt0094675,ariel,"[drama, comedy, romance, crime, after, the, co..."
1,tt0092149,shadows in paradise,"[comedy, drama, romance, nikander, a, rubbish,..."
2,tt0113101,four rooms,"[comedy, it, s, ted, the, bellhop, s, first, n..."
3,tt0107286,judgment night,"[action, crime, thriller, four, young, friends..."
6,tt0076759,star wars,"[adventure, action, sciencefiction, princess, ..."
...,...,...,...
962822,tt29900804,puzzle box: the glitch,"[horror, thriller, two, friends, buying, drugs..."
962845,tt27156546,child star,"[documentary, examines, how, some, of, the, mo..."
962869,tt23558084,bad influence,"[drama, thriller, romance, a, poor, boy, and, ..."
962873,tt33043031,baida,"[horror, three, film, makers, going, for, docu..."
962883,tt9059238,the brush-off,"[comedy, two, sisters, head, to, italy, on, a,..."

In [31]:
new_df['data']=new_df['data'].apply(lambda X:" ".join(X))

In [32]:
new_df

,imdb_id,title,data
0,tt0094675,ariel,drama comedy romance crime after the coal mine...
1,tt0092149,shadows in paradise,comedy drama romance nikander a rubbish collec...
2,tt0113101,four rooms,comedy it s ted the bellhop s first night on t...
3,tt0107286,judgment night,action crime thriller four young friends while...
6,tt0076759,star wars,adventure action sciencefiction princess leia ...
...,...,...,...
962822,tt29900804,puzzle box: the glitch,horror thriller two friends buying drugs find ...
962845,tt27156546,child star,documentary examines how some of the most well...
962869,tt23558084,bad influence,drama thriller romance a poor boy and a pamper...
962873,tt33043031,baida,horror three film makers going for documentary...
962883,tt9059238,the brush-off,comedy two sisters head to italy on a career s...

In [33]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [34]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [35]:
def remove_stopwords(text):
    stop_words = set(stopwords.words('english'))
    # Replace each stopword with an empty string
    filtered_text = ' '.join(word for word in text.split() if word.lower() not in stop_words)
    return filtered_text

In [36]:
new_df['data']=new_df['data'].apply(remove_stopwords)

In [37]:
new_df

,imdb_id,title,data
0,tt0094675,ariel,drama comedy romance crime coal mine works clo...
1,tt0092149,shadows in paradise,comedy drama romance nikander rubbish collecto...
2,tt0113101,four rooms,comedy ted bellhop first night job hotel unusu...
3,tt0107286,judgment night,action crime thriller four young friends takin...
6,tt0076759,star wars,adventure action sciencefiction princess leia ...
...,...,...,...
962822,tt29900804,puzzle box: the glitch,horror thriller two friends buying drugs find ...
962845,tt27156546,child star,documentary examines well known former child s...
962869,tt23558084,bad influence,drama thriller romance poor boy pampered rich ...
962873,tt33043031,baida,horror three film makers going documentary fil...
962883,tt9059238,the brush-off,comedy two sisters head italy career saving mi...

In [38]:
new_df

,imdb_id,title,data
0,tt0094675,ariel,drama comedy romance crime coal mine works clo...
1,tt0092149,shadows in paradise,comedy drama romance nikander rubbish collecto...
2,tt0113101,four rooms,comedy ted bellhop first night job hotel unusu...
3,tt0107286,judgment night,action crime thriller four young friends takin...
6,tt0076759,star wars,adventure action sciencefiction princess leia ...
...,...,...,...
962822,tt29900804,puzzle box: the glitch,horror thriller two friends buying drugs find ...
962845,tt27156546,child star,documentary examines well known former child s...
962869,tt23558084,bad influence,drama thriller romance poor boy pampered rich ...
962873,tt33043031,baida,horror three film makers going documentary fil...
962883,tt9059238,the brush-off,comedy two sisters head italy career saving mi...

In [39]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in d:\github desk\movies_prediction\movie_recommendation_system\lib\site-packages (1.5.1)
Requirement already satisfied: numpy>=1.19.5 in d:\github desk\movies_prediction\movie_recommendation_system\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in d:\github desk\movies_prediction\movie_recommendation_system\lib\site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in d:\github desk\movies_prediction\movie_recommendation_system\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in d:\github desk\movies_prediction\movie_recommendation_system\lib\site-packages (from scikit-learn) (3.5.0)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [40]:
nltk.download('wordnet')
nltk.download('omw-1.4')
nltk.download('punkt')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [41]:
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
import nltk
lemmatizer = WordNetLemmatizer()

def lemmatize_text(text):
    tokens = word_tokenize(text)
    lemmatized_tokens = [lemmatizer.lemmatize(token) for token in tokens]
    return ' '.join(lemmatized_tokens)
new_df['data']=new_df['data'].apply(lemmatize_text)

In [42]:

new_df['data'][0]

'drama comedy romance crime coal mine work close father commits suicide finnish man leaf city make living framed imprisoned various crime villealfa filmproductions eskosalminen eskonikkari turopajala akikaurismäki'

In [50]:
from sklearn.feature_extraction.text import CountVectorizer

vec=CountVectorizer(max_features=3000)

values=vec.fit_transform(new_df['data']).toarray()

In [44]:
vec.get_feature_names_out()

array(['20th', '20th century', '20th century fox', ..., 'zoo', 'česká',
       'česká televize'], dtype=object)

In [51]:
from sklearn.metrics.pairwise import cosine_similarity

In [55]:
import numpy as np

In [65]:
import numpy as np
from annoy import AnnoyIndex

# Convert 'combined_features' to a NumPy array
X = np.array(values, dtype=np.float32)


# Create Annoy index
index = AnnoyIndex(500, 'angular')  # 'angular' is used for cosine similarity

# Add vectors to the index
for i, vector in enumerate(X):
    index.add_item(i, vector)

# Build the index with a specified number of trees
index.build(100)  # You can adjust the number of trees for better accuracy vs. performance

# Function to get neighbors
def get_neighbors(index, vector, n_neighbors=10):
    return index.get_nns_by_vector(vector, n_neighbors)

# Example usage: get neighbors for the first vector
example_vector = X[0]  # Example vector
neighbors = get_neighbors(index, example_vector, n_neighbors=5)
print(neighbors)

MemoryError: Unable to allocate 2.87 GiB for an array with shape (257199, 3000) and data type float32

In [58]:
from sklearn.metrics.pairwise import euclidean_distances

# Assuming values is your dataset
distance_matrix = euclidean_distances(values)

MemoryError: Unable to allocate 5.75 GiB for an array with shape (257199, 3000) and data type float64

In [53]:
cosine_similarity(values)

MemoryError: Unable to allocate 5.75 GiB for an array with shape (257199, 3000) and data type float64