In [95]:
import pandas as pd

In [96]:

df_standard=pd.read_csv('TMDB_all_movies.csv')

In [201]:
df_standard.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 962942 entries, 0 to 962941
Data columns (total 27 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       962942 non-null  int64
 1   title                    962934 non-null  object
 2   vote_average             962940 non-null  float64
 3   vote_count               962940 non-null  float64
 4   status                   962940 non-null  object
 5   release_date             867949 non-null  object
 6   revenue                  962940 non-null  float64
 7   runtime                  962940 non-null  float64
 8   budget                   962940 non-null  float64
 9   imdb_id                  572904 non-null  object
 10  original_language        962940 non-null  object
 11  original_title           962933 non-null  object
 12  overview                 801423 non-null  object
 13  popularity               962940 non-null  float64
 14  tagline                  143100 non-null  object
 15  genres                   686839 non-null  object
 16  production_companies     446095 non-null  object
 17  production_countries     589057 non-null  object
 18  spoken_languages         597154 non-null  object
 19  cast                     647734 non-null  object
 20  director                 795821 non-null  object
 21  director_of_photography  230064 non-null  object
 22  writers                  467104 non-null  object
 23  producers                305122 non-null  object
 24  music_composer           94446 non-null   object
 25  imdb_rating              418591 non-null  float64
 26  imdb_votes               418591 non-null  float64
dtypes: float64(8), int64(1), object(18)
memory usage: 198.4+ MB

In [202]:
df_standard.shape

(962942, 27)

In [203]:
df_standard.columns

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'budget', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages',
       'cast', 'director', 'director_of_photography', 'writers', 'producers',
       'music_composer', 'imdb_rating', 'imdb_votes'],
      dtype='object')

In [204]:
df_standard['writers']

0                                            Aki Kaurismäki
1                                            Aki Kaurismäki
2         Alexandre Rockwell, Quentin Tarantino, Allison...
3                             Jere Cunningham, Lewis Colick
4                           Michael Glawogger, Timo Novotny
                                ...
962937                                                  NaN
962938                                                  NaN
962939                                                  NaN
962940    Florian Gallenberger, Torsten Wenzel, Tom Kinn...
962941                     Christina Hodson, Shoji Kawamori
Name: writers, Length: 962942, dtype: object

In [226]:
df=df_standard[['imdb_id','title','genres','overview','production_companies','imdb_rating','cast', 'director']]
df.sample(5)

,imdb_id,title,genres,overview,production_companies,imdb_rating,cast,director
540072,tt0015114,A Man's Mate,"Drama, Romance","Paul Bonard an artist, loses his memory when h...",NaN,NaN,"Noble Johnson, Renée Adorée, Thomas R. Mills, ...",Edmund Mortimer
914830,NaN,アイドルマスター ミリオンライブ！ 第2幕,Animation,NaN,Shirogumi,NaN,"田所梓, Akiko Hasegawa, Machico, Haruka Yamazaki,...",Shinya Watada
136966,tt3107706,Population Boom,Documentary,A well-known nightmarish vision of the future:...,Nikolaus Geyrhalter Filmproduktion,6.9,"Hu Hongtao, Benjamin Fulford, David Rockefelle...",Werner Boote
219943,tt0248695,Belle's Tales of Friendship,"Family, Animation",Two different stories: in the first one a grou...,Walt Disney Pictures,4.9,"Jim Cummings, April Winchell, Hampton Dixon, G...",Jimbo Marshall
265166,tt2361250,ECW The Night the Line Was Crossed,NaN,Terry Funk puts the ECW Heavyweight Championsh...,Extreme Championship Wrestling (ECW),5.7,"Ed Farhat, Chad Slivenski, Al Poling, Tom Laug...",Tod Gordon

In [227]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 962942 entries, 0 to 962941
Data columns (total 8 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   imdb_id               572904 non-null  object
 1   title                 962934 non-null  object
 2   genres                686839 non-null  object
 3   overview              801423 non-null  object
 4   production_companies  446095 non-null  object
 5   imdb_rating           418591 non-null  float64
 6   cast                  647734 non-null  object
 7   director              795821 non-null  object
dtypes: float64(1), object(7)
memory usage: 58.8+ MB

In [228]:
df.isnull().sum()

imdb_id                 390038
title                        8
genres                  276103
overview                161519
production_companies    516847
imdb_rating             544351
cast                    315208
director                167121
dtype: int64

In [229]:
df.duplicated().sum()

326

In [230]:
df.drop_duplicates()
df=df.dropna()

In [231]:
df.shape

(219133, 8)

In [232]:

df.sample(5)

,imdb_id,title,genres,overview,production_companies,imdb_rating,cast,director
472395,tt5350512,The Krays' Mad Axeman,"Crime, Drama, Thriller",Based on the true story of Frank Mitchell who ...,"Boudica Films, Fugitive Films",3.3,"Rob Flanagan, Simon Balfour, Mark Godard, Ben ...",William Kerley
5154,tt0342258,Unleashed,"Action, Crime","Raised as a slave, Danny is used to fighting f...","Canal+, Current Entertainment, Clubdeal, Europ...",7.0,"Jaclyn Tze Wey, Kerry Condon, Stéphane Gluck, ...",Louis Leterrier
22061,tt1340588,Jo Koy: Don't Make Him Angry,Comedy,"Jo Koy details life with his Filipino mom, the...",Dakota Pictures,6.7,Jo Koy,Troy Miller
40171,tt0164549,The Bells of Death,"Action, Drama",A simple woodcutter named Wei Fu finds his wor...,Shaw Brothers,6.6,"Lee Ka-Ting, Sammo Hung, Chui Hing-Chun, Chu Y...",Griffin Yueh Feng
811285,tt19848268,Fear the Night,"Action, Thriller",During a bachelorette party in a secluded Cali...,"BondIt Media Capital, Highland Film Group",4.8,"Travis Hammer, Brenda Meaney, Kat Foster, Gia ...",Neil LaBute

In [233]:
df['cast'][0]

'Esko Salminen, Esko Nikkari, Turo Pajala, Matti Pellonpää, Heikki Anttila, Hanna Jokinen, Juuso Hirvikangas, Tarja Keinänen, Reijo Marin, Kari Helaseppä, Matti Jaaranen, Erkki Pajala, Pentti Auer, Sirkka Rautiainen, Sami Lanki, Timo Harakka, Timo Toikka, Olli Varja, Tomi Salmela, Jyrki Olsonen, Mikko Remes, Heikki Salomaa, Jorma Markkula, Marja Packalén, Hannu Kivisalo, Kauko Laalo, Jaakko Talaskivi, Eino Kuusela, Pekka Wilen, Veikko Uusimäki, Susanna Haavisto, Eetu Hilkamo, Mikko Lyytikäinen, Jouko Lumme, Sakari Kuosmanen, Hannu Viholainen, Timo Markko, Markku Rantala'

In [234]:
text_columns = ['title', 'genres', 'overview', 'production_companies', 'cast', 'director']
for column in text_columns:
    df[column] = df[column].apply(lambda x:x.lower())

In [235]:
def get_top_3_names(cast_str):
    # Split the string by commas and strip any extra whitespace
    names_list = [name.strip() for name in cast_str.split(',')]
    # Return the first three names if available
    return names_list[:3] if len(names_list) > 0 else []

df['cast']=df['cast'].apply(get_top_3_names)

In [236]:
df['genres'] = df['genres'].apply(lambda x: [genre.strip() for genre in x.split(',')])
df['production_companies'] = df['production_companies'].apply(lambda x: [genre.strip() for genre in x.split(',')])
df['director'] = df['director'].apply(lambda x: [genre.strip() for genre in x.split(',')])

In [237]:
df['genres']=df['genres'].apply(lambda X:[i.replace(" ","") for i in X])
df['cast']=df['cast'].apply(lambda X:[i.replace(" ","") for i in X])
df['director']=df['director'].apply(lambda X:[i.replace(" ","") for i in X])

In [238]:
df

,imdb_id,title,genres,overview,production_companies,imdb_rating,cast,director
0,tt0094675,ariel,"[drama, comedy, romance, crime]",after the coal mine he works at closes and his...,[villealfa filmproductions],7.4,"[eskosalminen, eskonikkari, turopajala]",[akikaurismäki]
1,tt0092149,shadows in paradise,"[comedy, drama, romance]","nikander, a rubbish collector and would-be ent...",[villealfa filmproductions],7.5,"[eskonikkari, mattipellonpää, mallahukkanen]",[akikaurismäki]
2,tt0113101,four rooms,[comedy],it's ted the bellhop's first night on the job....,"[miramax, a band apart]",6.7,"[kimberlyblair, sammidavis, paulskemp]","[alexandrerockwell, quentintarantino, allisona..."
3,tt0107286,judgment night,"[action, crime, thriller]","four young friends, while taking a shortcut en...","[largo entertainment, jvc, universal pictures]",6.6,"[dougwert, michaeldelorenzo, everlast]",[stephenhopkins]
6,tt0076759,star wars,"[adventure, action, sciencefiction]",princess leia is captured and held hostage by ...,"[lucasfilm ltd., 20th century fox]",8.6,"[davidprowse, stevegawley, tomsylla]",[georgelucas]
...,...,...,...,...,...,...,...,...
962675,tt15170224,no. 2 to kettering,[animation],a young happy girl gets on a bus to kettering....,[walt disney animation studios],6.6,"[moiraquirk, terridouglas, matthewwolf]",[lizarhea]
962679,tt0245073,datta,[drama],the film is a romantic story about a wealthy b...,[s.b. productions],7.7,"[jaharganguli, manoranjanbhattacharya, anubhag...",[soumenmukhopadhyay]
962698,tt6044642,daddy's girl,"[drama, romance, comedy, tvmovie]",ghanoujet baya (2006) ritabarsona rana barak...,[رؤى للإنتاج],7.8,"[saadhamdan, noelleshamoun, abeeraoun]",[elief.habib]
962743,tt26678266,the dividers,[documentary],following the inauguration of donald trump in ...,[the brisbane documentary company],7.5,"[nickfuentes, theabsoluteplaidman, brittanyventi]",[josiahmcgarvie]
962756,tt22057278,reflect,[animation],a plus-size girl is in the middle of her balle...,[walt disney animation studios],6.2,[leahlatham],[hillarybradfield]

In [241]:
import re

In [242]:
def remove_special_chars(text):
    return re.sub(r'[^a-zA-Z\s]',' ',text)

In [243]:
df['overview']=df['overview'].apply(remove_special_chars)

In [244]:
df['overview'][962698]

'ghanoujet baya\xa0        ritabarsona  rana baraket is a daddy spoiled girl beautiful rich irresponsible girl has to face life after her dad went bankrupt  forced to find jobs  but her lack of experience will put her in a awkward situation where she has to deal with getting fired from every job she gets  falling in love with the guy that was responsible for her dad s bankruptcy wasn t helpful at all'

In [112]:
df['data']=df['title'] + ' ' + df['genres'] + ' ' + df['overview'] + ' ' + df['production_companies'] + ' ' + df['cast'] + ' ' + df['director']

In [119]:
def remove_numbers(text):
    if isinstance(text, str):  # Check if the text is a string
        text = re.sub(r'[\d+]','', text)  # Remove all digits
    return text

df['data'] = df['data'].apply(remove_numbers)

In [114]:
df['data']=df['data'].apply(remove_patterns)

In [116]:
df.drop(columns=['title', 'genres', 'overview', 'production_companies', 'cast', 'director'])

,imdb_id,imdb_rating,data
0,tt0094675,7.4,riel rama omedy omance rime fter the ...
1,tt0092149,7.5,hadows in aradise omedy rama omance ik...
2,tt0113101,6.7,our ooms omedy t s ed the ellhop s first...
3,tt0107286,6.6,udgment ight ction rime hriller our yo...
6,tt0076759,8.6,tar ars dventure ction cience iction ...
...,...,...,...
962675,tt15170224,6.6,o to ettering nimation young happy gir...
962679,tt0245073,7.7,atta rama he film is a romantic story about...
962698,tt6044642,7.8,addy s irl rama omance omedy ovie ...
962743,tt26678266,7.5,he ividers ocumentary ollowing the inaugur...
962756,tt22057278,6.2,eflect nimation plus-size girl is in the m...

In [117]:
df

,imdb_id,title,genres,overview,production_companies,imdb_rating,cast,director,data
0,tt0094675,riel,rama omedy omance rime,fter the coal mine he works at closes and his...,illealfa ilmproductions,7.4,sko alminen sko ikkari uro ajala att...,ki aurismäki,riel rama omedy omance rime fter the ...
1,tt0092149,hadows in aradise,omedy rama omance,ikander a rubbish collector and would-be ent...,illealfa ilmproductions,7.5,sko ikkari atti ellonpää alla ukkanen ...,ki aurismäki,hadows in aradise omedy rama omance ik...
2,tt0113101,our ooms,omedy,t s ed the ellhop s first night on the job ...,iramax and part,6.7,imberly lair ammi avis aul kemp ruce...,lexandre ockwell uentin arantino llison...,our ooms omedy t s ed the ellhop s first...
3,tt0107286,udgment ight,ction rime hriller,our young friends while taking a shortcut en...,argo ntertainment niversal ictures,6.6,oug ert ichael e orenzo verlast hrist...,tephen opkins,udgment ight ction rime hriller our yo...
6,tt0076759,tar ars,dventure ction cience iction,rincess eia is captured and held hostage by ...,ucasfilm td th entury ox,8.6,avid rowse teve awley om ylla andy ...,eorge ucas,tar ars dventure ction cience iction ...
...,...,...,...,...,...,...,...,...,...
962675,tt15170224,o to ettering,nimation,young happy girl gets on a bus to ettering ...,alt isney nimation tudios,6.6,oira uirk erri ouglas atthew olf aul...,iza hea,o to ettering nimation young happy gir...
962679,tt0245073,atta,rama,he film is a romantic story about a wealthy ...,roductions,7.7,ahar anguli anoranjan hattacharya nubha...,oumen ukhopadhyay,atta rama he film is a romantic story about...
962698,tt6044642,addy s irl,rama omance omedy ovie,hanoujet aya ritabarsona ana arak...,رؤى للإنتاج,7.8,aad amdan oelle hamoun beer oun oni ...,lie abib,addy s irl rama omance omedy ovie ...
962743,tt26678266,he ividers,ocumentary,ollowing the inauguration of onald rump in ...,he risbane ocumentary ompany,7.5,ick uentes he bsolute laidman rittany ...,osiah c arvie,he ividers ocumentary ollowing the inaugur...
962756,tt22057278,eflect,nimation,plus-size girl is in the middle of her balle...,alt isney nimation tudios,6.2,eah atham,illary radfield,eflect nimation plus-size girl is in the m...

In [118]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True